* {
  text-align: center;
}
body {
  width: 97vw;
}

h3 {
  height: 20%;
  border: 1px solid black;
}

.productCard {
  width: 28vw;
  height: 80vh;
  margin: 1vw;
  min-width: 290px;
  border: 1px solid black;
  border-radius: 3%;
  display: inline-block;
}

label {
  border: 1px solid black;
}

img {
  height: 60%;
  width: 90%;
}
.box {
  border: 1px solid black;
  font-size: 20px !important;
  margin: 0.2vw;
}

.boxContainer {
  height: 10vh;
}

#wrapper {
  text-align: center;
  padding: 0;
  margin: 0;
}

#fullInfo .productCard {
  width: 500px;
  max-width: 90vw;
  height: 90vh;
}
